<section class="container1">
  <div class="form login">
    <div class="form-content">
      <header>Enter Your Email</header>
      <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <div class="field input-field">
          <input
            formControlName="emailForm"
            id="email"
            name="email"
            type="email"
            placeholder="Email"
            class="input"
          />
        </div>
        <div
          *ngIf="f['emailForm'].touched && f['emailForm'].invalid"
          class="text-danger"
          style="font-size: small; padding-left: 10px"
        >
          <div *ngIf="f['emailForm'].errors?.['required']">
            email is required
          </div>
          <div *ngIf="f['emailForm'].errors?.['email']">must be email</div>
        </div>
        <div class="field button-field">
          <button *ngIf="!isSent" type="submit" [disabled]="!forgotForm.valid">
            Send email to reset password
          </button>
          <button *ngIf="isSent" type="button" disabled style="cursor: default">
            <img src="./assets/success.svg" alt="" width="28px" />
            email Successfully send
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
