<section class="container1">
  <div class="form login">
    <div class="form-content">
      <header>Enter Your Email</header>
      <form [formGroup]="resetForm">
        <div class="field input-field">
          <input
            [(ngModel)]="resetObj.NewPassword"
            formControlName="password"
            id="password"
            name="password"
            type="password"
            class="input"
            placeholder="Password"
            required
          />
        </div>
        <div
          *ngIf="f['password'].touched && f['password'].invalid"
          class="text-danger"
          style="font-size: small; padding-left: 10px"
        >
          <div *ngIf="f['password'].errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="f['password'].errors?.['minlength']">
            Password must be at least 8 characters long.
          </div>
          <div *ngIf="f['password'].errors?.['pattern']">
            Password must contain upper and lower case letters, numbers, and
            symbols.
          </div>
        </div>
        <div class="field input-field">
          <input
            [(ngModel)]="samePassword"
            formControlName="samePassword"
            id="samePassword"
            name="samePassword"
            type="password"
            class="input"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div
          *ngIf="f['samePassword'].touched && f['samePassword'].invalid"
          class="text-danger"
          style="font-size: small; padding-left: 10px"
        >
          <div *ngIf="f['samePassword'].errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="f['samePassword'].errors?.['minlength']">
            Password must be at least 8 characters long.
          </div>
          <div *ngIf="f['samePassword'].errors?.['pattern']">
            Password must contain upper and lower case letters, numbers, and
            symbols.
          </div>
        </div>
        <div class="field button-field">
          <button
            *ngIf="!isSent"
            (click)="resetPassword()"
            type="submit"
            [disabled]="!resetForm.valid"
          >
            Send email to reset password
          </button>
          <button *ngIf="isSent" type="button" disabled style="cursor: default">
            <img src="./assets/success.svg" alt="" width="28px" />
            email Successfully send
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
