<div class="cont">
  <!-- <app-nav-bar></app-nav-bar> -->

  <div class="hero py-5">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Cart</h1>
            <p class="lead">Buy your favorite product</p>
          </div>
        </div>
        <div class="col-lg-7"></div>
      </div>
    </div>
  </div>

  <div class="untree_co-section before-footer-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-total">Total</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cart of carts; index as i">
                  <td>
                    <img
                      [src]="
                        _sanitizer.bypassSecurityTrustResourceUrl(
                          'data:image/png;base64,' + cart.image
                        )
                      "
                      class="img-fluid"
                    />
                    <!-- <img src="assets/product-1.png" alt="Image" class="img-fluid"> -->
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black">{{ cart.name }}</h2>
                  </td>
                  <td>${{ cart.price }}</td>
                  <td>
                    <div
                      class="input-group d-flex align-items-center quantity-container mx-auto"
                      style="max-width: 120px"
                    >
                      <div class="input-group-prepend">
                        <button
                          class="btn btn-outline-black decrease"
                          type="button"
                          (click)="updateQuantity(cart.id, -1, i)"
                        >
                          &minus;
                        </button>
                      </div>
                      <input
                        type="text"
                        class="form-control text-center quantity-amount"
                        value="{{ cart.quantity }}"
                        placeholder=""
                        aria-label="Example text with button addon"
                        aria-describedby="button-addon1"
                      />
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-black increase"
                          type="button"
                          (click)="updateQuantity(cart.id, 1, i)"
                        >
                          &plus;
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>${{ cart.quantity * cart.price }}</td>
                  <td>
                    <a
                      (click)="deleteCart(cart.id, i)"
                      class="btn btn-dark btn-sm"
                      >X</a
                    >
                  </td>
                </tr>

                <!-- <tr>
                      <td class="product-thumbnail">
                        <img src="assets/product-2.png" alt="Image" class="img-fluid">
                      </td>
                      <td class="product-name">
                        <h2 class="h5 text-black">Product 2</h2>
                      </td>
                      <td>$49.00</td>
                      <td>
                        <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-black decrease" type="button">&minus;</button>
                          </div>
                          <input type="text" class="form-control text-center quantity-amount" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                          <div class="input-group-append">
                            <button class="btn btn-outline-black increase" type="button">&plus;</button>
                          </div>
                        </div>
    
                      </td>
                      <td>$49.00</td>
                      <td><a href="#" class="btn btn-dark btn-sm">X</a></td>
                    </tr> -->
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <!-- <div class="col-md-6 mb-3 mb-md-0">
                  <button class="btn btn-dark btn-sm btn-block">Update Cart</button>
                </div> -->
            <div class="col-md-6">
              <button class="btn btn-outline-black btn-lg py-2 btn-primary">
                Continue Shopping
              </button>
            </div>
          </div>
          <!-- <div class="row">
                <div class="col-md-12">
                  <label class="text-black h4" for="coupon">Coupon</label>
                  <p>Enter your coupon code if you have one.</p>
                </div>
                <div class="col-md-8 mb-3 mb-md-0">
                  <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                </div>
                <div class="col-md-4">
                  <button class="btn btn-dark">Apply Coupon</button>
                </div>
              </div> -->
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Discount</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">-${{ discount }} EGP</strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">{{ totalPrice }} EGP</strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <a
                    class="btn btn-primary btn-lg py-3"
                    routerLink="/payment"
                    routerLinkActive="active"
                  >
                    Proceed To Checkout
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
